<div class='container my-5 py-4'>
  <div class="row">
    <div class='col-md-10 mx-auto mt-5'>
      <div class="row">
        <div class='col-12 px-0'>
          <span class='float-right'>
            <small>
              <%= @pages.count %> Pages, 
              <%= @sub_pages.count %> Sub Pages, 
              <%= @all_pages.count %> Total Pages
            </small>
          </span>
        </div>
        <div class='col-12 bg-secondary pt-2'>
          <h5 class="text-white">Admin Dashboard</h5>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-2 bg-dark py-4'>
          <div class='w-100 my-3'>
             <a href='#' class='btn btn-outline-secondary form-control'>
               Pages
             </a>
          </div>
          <div class='w-100 my-3'>
             <a href='#' class='btn btn-outline-secondary form-control'>
               Link
             </a>
          </div>
          <div class='w-100 my-3'>
             <a href='#' class='btn btn-outline-secondary form-control'>
               Link
             </a>
          </div>
          <div class='w-100 my-3'>
             <a href='#' class='btn btn-outline-secondary form-control'>
               Link
             </a>
          </div>
        </div>
        <div class='col-md-10 border border-secondary py-4' style='min-height: 550px;'>
          <div class='row'>
            <div class='col-12'>
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "alert alert-info" %>
              <% end %>
              <%= link_to '+ New Page', new_admin_page_path, class: 'btn btn-sm btn-info float-right mb-2' %>
            </div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @pages.each do |page| %>
                <tr>
                  <th scope="row"><%= page.id %></th>
                  <td><%= page.title %></td>
                  <td><span class='badge <%= render_page_status_badge_class(page) %>'><%= page.published_at.nil? ? 'Draft' : 'Published' %></span></td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <%= link_to 'View', page_path(page), class: 'btn btn-secondary btn-sm', target: '_blank' %>
                      <%= link_to 'Edit', edit_admin_page_path(page), class: 'btn btn-secondary btn-sm' %>
                      <%= link_to 'Delete', admin_page_path(page), method: :delete, class: 'btn btn-secondary btn-sm' %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
        <div class='col-12 px-0'>
          <span class='float-right'>
            <small>project inormoc | `https://github.com/projgils/comroni`</small>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>